<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style type="text/css">
		
		
	</style>
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		window.onload = function() {
			var vm = new Vue({
				el: "#box",
				data: {
				  
				}
				
				
			});
		};
	</script>
</head>
<body>
	<div id="box">
			<h1 v-if='0'>Yes</h1>	
			<h1 v-else>No</h1>
			
	<!--切换多个元素,可以把一个 <template> 元素当做包装元素，并在上面使用 v-if，最终的渲染结果不会包含它。-->

			<template v-if="ok">
			  <h1>Title</h1>
			  <p>Paragraph 1</p>
			  <p>Paragraph 2</p>
			</template>
	</div>
</body>
</html>