<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style type="text/css">
		
		
	</style>
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		window.onload = function() {
			new Vue({
				el:'#box',
				data:{
					checked1: '',
					checkedNames: []
				}
				
			});
		}
	</script>
</head>
<body>
	<div id="box">
		<input type="checkbox" id="checkbox" v-model="checked1">
		<label for="checkbox">{{ checked1 }}</label>
		<hr />
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked names: {{ checkedNames }}</span>
	</div>
</body>
</html>